.header__container {
  /* font-family: "Poppins", sans-serif; */
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem;
  padding: 0.5vh;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 2.1rem;
  width: 3rem;
  margin-right: 6px;
}
.logo span {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3rem;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4vw;
}

.menu nav a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
}
.menu nav a:hover{
  text-decoration: underline;
} 

.actions {
  display: flex;
  gap: 2vw;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vw;
} 


@media (max-width: 1080px) {
  .header__container {
    margin: 1rem 2rem;
    padding: 0.5vh 0;
  }

  .logo img {
    height: 1.8rem;
    width: 2.7rem;
  }

  .logo span {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .menu nav a {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .actions {
    gap: 1.5vw;
    margin-right: 1.5vw;
  }
}

@media (max-width: 768px) {
  .menu nav ul {
    gap: 2vw;
  }

  .actions {
    gap: 0;
  }

  .header__container {
    padding: 0.5vh 0;
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}